*{
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin: 0.5rem 1rem;
}
header nav ul{
    display: flex;
    list-style: none;

}
header nav ul{
    margin:0px;
    margin-right: 1rem;
}
header nav ul li a{
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    background-color: #000;
    color: #ddd;
    transition: background-color 1s ease;
}
header nav ul li a:hover{
    background-color: #ddd;
    color: #000;
}

header h1{
    margin: 0px;
    margin-left: 1rem;
    font-size: 1.5rem;
}
main{
    color: #000;
    background-color: gray;
}
main h2{
    margin:0.2px
}
a{
    color:#000;
    background-color: aqua;
    line-height: 1.5;
}
/*Este es para definir los diferentes tipos de boxes*/
/*.hero-panel{
    background-color: #21890c;
    display: inline-block;
    padding: 1rem ;
    border: solid 1px black;
    border-left: solid 1px red;
    border-right: solid 1px red;
    margin:3rem;
    width: 600px;
    
}*/
.hero-panel{
    position: relative;
    overflow: hidden;
    min-height: 80vh;
}
.hero-panel img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}
.hero-panel div{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    border-radius: 17px;
    transform: translateX(-50%) translateY(-50%);
}
.hero-panel div a{
    align-self: center;
    display: inline-block;
    padding: 1.2rem 2rem;
    border: 1px solid rgb(34, 207, 7);
    background-color: rgb(25, 95, 16);
    color:#fff;
    text-decoration: none;
    margin: 0.5rem auto;
    box-shadow: 3px 3px 5px #000;
    border-radius: 48px;
}
.hero-panel div.cuadrante4{
    top:75%;
    left:75%;
}
.hero-panel div.cuadrante2{
    top:25%;
    left:25%
}